@media (min-width: 992px) {
	.nav-link-header:hover {
		color: var(--color-text-secondary);
	}
	.dropdown-menu-header {
		background-color: var(--color-bg-card);
	}
	.nav-link-header:active,
	.dropdown-item-header:active {
		background-color: transparent;
		color: inherit;
	}
	.hero-content {
		padding-top: 50px;
	}
}
@media (min-width: 768px) {
	.about-us__img {
		border-bottom-right-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0.5rem !important;
	}
}
